parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    hispavista_service_name:    servicio
    contact_subject:            Contacto desde servicio.hispavista.com
    service_noreply_mail:       noreply@servicio.hispavista.com
    service_admin_mail:         servicio@corp.hispavista.com

    bounces-return-path:    servicio-bounce@b.hispavista.com
    bounces-user:           bounces-servicio
    bounces-password:       password
    bounces-num-messages:   0
    bounces-delete:         1
    bounces-debug:          0
